/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS Variables */
:root {
  --primary-background-color: white;
  --primary-text-color: black;
  --navbar-height: 5rem;
  --font-size-paragraph: 1rem;
  --font-weight-normal: normal;
  --nabvar-opacity: .8;
  --ff-global: "Inter", sans-serif;
}

* {
  font-family: var(--ff-global);
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 1rem; /* Adjust padding as needed */
  background-color: rgba(255, 255, 255, 0.75); /* Apply opacity based on scroll */
  -webkit-backdrop-filter: blur(calc(var(--navbar-opacity) * 10px));
          backdrop-filter: blur(calc(var(--navbar-opacity) * 10px)); /* Adjust blur intensity based on scroll */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index to ensure it appears on top */
  transition: background-color 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 3rem;
}

.logo-content {
  display: flex;
  align-items: center;
}

/* Wordmark Section */
.text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.text__rainbow {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-normal);
}

.text__devs {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-normal);
}

/* Links Section */
.links {
  display: flex;
  align-items: center;
  margin-right: 30rem;
  margin-left: 3rem;
}

.links__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-normal);
  margin-right: 2rem;
}

.links__link:last-child {
  margin-right: 0;
}

.links__link:hover {
  color: #454e9e; /* Change to the desired hover color */
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.links__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.1s ease-in-out;
  background-color: #454e9e; /* Change to the desired hover color */
}

.links__link:hover::before {
  width: 100%;
  border-bottom: 1px solid black;
}

/* HeroSection.scss */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 33rem;
  justify-content: center;
  align-items: center;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-image {
  -o-object-position: center;
     object-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
  font-weight: normal;
}

.hero-content__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

:root {
  --gap-size: 2rem;
  --section-padding: 1rem 2rem;
  --section-width: 100%;
  --section-margin: 1rem 3rem;
  --button-padding: 0.5rem 1rem;
  --project-bg-color: #eef2ff;
  --visit-wellpath-btn-color: #454e9e;
}

.homepage-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10%;
  gap: var(--gap-size);
}

.about-section {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-size);
}

.about-image {
  flex: 1;
  margin-top: 1rem;
}

.about-image img {
  width: 100%;
}

.about-content {
  flex: 1;
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.about-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project-head {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.projects-section {
  display: flex;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: var(--project-bg-color);
  line-height: 1.5rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.left {
  gap: var(--gap-size);
}

.left h2,
.right h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.left h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.left h4 {
  font-weight: 600;
  margin-top: 1rem;
}

.left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  list-style: disc;
  line-height: 0.8rem;
  font-size: 0.9rem;
}

.visit-wellpath-btn {
  outline: none;
  border: 2px solid var(--visit-wellpath-btn-color);
  background-color: var(--visit-wellpath-btn-color);
  color: white;
  padding: var(--button-padding);
  border-radius: 5px;
  margin-right: 1rem;
}

.view-the-code-btn {
  background-color: var(--project-bg-color);
  color: var(--visit-wellpath-btn-color);
  padding: var(--button-padding);
  outline: none;
  border: 2px solid var(--visit-wellpath-btn-color);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.join-us-section {
  background-color: #daf5e7;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: var(--section-padding);
  border-radius: 5px;
  line-height: 1.5rem;
}

.join-us-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

.join-us-btn {
  outline: none;
  border: 2px solid var(--visit-wellpath-btn-color);
  background-color: var(--visit-wellpath-btn-color);
  color: white;
  padding: var(--button-padding);
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  background-color: #FFFFFF;
}/*# sourceMappingURL=index.css.map */